.container {
  min-height: 100vh;
  padding: 40px 20px;
}

.section {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  text-align: center;
}

.section h1 {
  margin-bottom: 40px;
}

.gameBody {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.errorWrapper {
  background-color: rgb(255, 228, 228);
  padding: 8px 16px;
  width: 100%;
  border-radius: 16px;
  margin: 16px 0;
}

.error {
  margin-top: 20px;
  color: #d00;
}

.divider {
  margin: 24px 0;
  border-top: 1px solid var(--border-color);
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .overlayContent {
    padding: 30px 20px;
  }

  .overlayContent h2 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}